@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

:root{
    --primary: rgba(92, 69, 253, 1);
    --black-p: rgba(22, 22, 22, 1);
    --gray-p: rgba(150, 151, 153, 1);
    --purple-p: rgba(168, 155, 255, 1);
    --white-p: rgba(245, 245, 245, 1);
    --main-grad: -webkit-linear-gradient(right,#5C45FD, #A39DD0);
}

html{
    background-color: var(--black-p);
    color: var(--white-p);
    font-family: 'Poppins';
    margin-inline: 9.6rem;
}

#credits{
    font-size: 0.9rem;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 4.3rem;
}

.highlight{
    color: var(--primary);
}

header{
    display: flex;
    align-items: center;
    text-align: center;
    height: 6.25rem;
    justify-content: space-between;
}

header > div > h1{
    font-size: 2.4em;
}

hr{
    width: 100vw;
    position: relative;
    left: -9.6rem; 
    transform: scaleY(0.1);
}

.itensHeader{
    display: inline;
}

.itensHeader > a{
    color: var(--white-p);
    margin-inline: 4.2rem;
    font-size: 1.40rem;
}

#heroSection {
    padding-top: 6rem;
}

.heroItem{
    font-size: 3em;
}

.mainGrad {
    background: var(--main-grad);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#dot {
    color: var(--primary);
}

#description {
    padding-top: 3rem;
}

#description p {
    font-size: 0.9rem;
    max-width: 43rem;
}

#blendButton {
    padding-top: 3.84rem;
}

#blendButton a{
    font-size: 1.2rem;
    color: var(--white-p);
    border-radius: 1.92rem;
    padding: 0.9rem 2.5rem;
    width: 9.12rem;
    height: 2.88rem;
    background-image: -webkit-linear-gradient(right,#5C45FD, #A39DD0);
}

.teste {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15' height='15' viewBox='0 0 24 24'%3E%3Cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M6 18L18 6m0 0H9m9 0v9'/%3E%3C/svg%3E");
}